@media (min-width: 768.1px) {

    .main {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        padding: 10px 10px 20px;
        margin-top: 20px;
    }

    .content {
        position: fixed;
        top: 1px;
        left: 0px;
        right: 0px;
        background-color: rgba(51, 47, 47, 0.986);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0%;
        color: #FFFf;
    }

    .content ul {
        padding-left: 5px;
        margin: 0%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
    }

    li {
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    li a img {
        width: 50px;
        height: 50px;
        list-style: none;
        border-radius: 50%;
    }

    h1 {
        font-size: 60px;
    }

    #current {
        border-radius: 15px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 30%;
        margin: 4px;
        padding: 10px;
    }

    #current img {
        mix-blend-mode: multiply;
        transition: 0.6s;
        width: 150PX;
        height: 150PX;
    }

    #current img:hover {
        margin-left: 30px;
        transform: scale(150%);
    }
    #current p {
        font-weight: 900;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 200%;
        color: #0c0c0c;
    }

    .search-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button:hover {
        background-color: rgb(160, 160, 177);
    }

    #shownav,
    #hidenav {
        display: none;
    }

    .weather-info {
        font-weight: 500;
        display: flex;
        flex-direction: column;
        align-items: center;

    }


    .h1 {
        color: #141414;

    }

    .weather-container {
        width: 30%;
        height: 100%;
        padding: 10px;
        border-radius: 10px;
        display: inline-block;
        margin: 4px;
    }

    .weather-card {
        display: inline-block;
        margin: 10px;
        padding: 10px;
        border: 1px solid #00796b;
        border-radius: 5px;
        background-color: #cfc6c6;
    }

    .weather-icon {
        width: 100px;
        height: 100px;
    }

    img {
        width: 100px;
        height: 100px;
    }


    .forecast {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(226, 231, 233);
        margin-top: 20px;
        padding: 10px;
    }

    .forecast-day {
        display: inline-block;
        background-color: #cfc6c6;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        text-align: center;
    }

    header {
        padding-top: 100px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(12, 11, 11, 0.808);
        font-size: 200%;
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
    }

    .search-container{
        display: flex;
        justify-content: center;
    }

    .search-container img{
        width: 20px;
        height: 20px;
    }

    
    input[type="text"] {
        padding: 12.75px;
        font-size: 16px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    

    button:active{
        background-color: #00796b;
    }


    #search-btn {
        padding: 10px;
        font-size: 16px;
        margin-left: -10px;
        cursor: pointer;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .links {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .link {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        width: 300px;
        border-radius: 20px;
        padding: 10px;
    }

    .link img {
        height: 50px;
        width: 50px;
    }

    #about-us {
        margin-top: 20px;
        padding: 10px;
        background-color: rgb(246, 252, 252);
        display: flex;
        justify-content: space-evenly;
    }

    .about {
        font-family: 'Times New Roman', Times, serif;
        background-color: #cfc6c6;
        border: solid rgb(192, 183, 183);
        padding: 10px;
        border-radius: 20px;
        width: 17%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .follow-us {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .follow {
  
        border-radius: 40px;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .follow img {
        width: 50px;
        height: 50px;
    }

    footer {
        background-color: #d8cece;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: solid rgb(12, 12, 12) 0.5px;
        border-radius: 10px;
        margin-top: 20px;
    }

   
    .calendar {
        background-color: #cfc6c6;
        width: 300px;
        height: fit-content;
        border: 1px solid #0c0c0c;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    .calendar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #635f5f;
        border-bottom: 1px solid #080808;
    }

    .calendar-button {
        background: none;
        border: none;
        font-size: 1.2em;
        cursor: pointer;
        border-radius: 10px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        background-color: #cfc6c6;
    }

    th,
    td {
        height: 53px;
        text-align: center;
        padding: 10px;
        border: 1px solid #0a0a0a;
       
    }

    thead th {
        background-color: #f4f4f4;
    }

    .current-date {
        background-color: grey;
    }

    .next-hours {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(226, 231, 233);
        margin-top: 20px;
        padding: 10px;
    }

    #weather-icon {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }

    #weather-icon {
        transform: rotateZ('900deg');
    }

    .terms{
        margin-top: 40px;
        max-width: 100%;
       gap: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
       font-family: Arial, Helvetica, sans-serif;
    }

}

.both{
    background-image: url(Images/illustrations/malu3.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.dropdown-content {
    margin-top: 50px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-content a:active {
    background-color: #5e5858;
    color: white;
}

body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}



@keyframes rotation {
    from {
        transform: perspective(100px) rotateY(0deg);
    }
    to {
        transform: perspective(300px) rotateY(360deg);
    }
}

.rotate {
    animation: rotation 3.5s infinite linear;
}
